### Symfony ###
/.env.dev
/.env.test
/.env.local
/.env.*.local

/var/
/vendor/

### JWT keys ###
/config/jwt/*.pem

### Cache & logs ###
/var/cache/
/var/log/

### Node / Assets ###
/node_modules/
/npm-debug.log*
/yarn-error.log*

### IDE ###
/.idea/
/.vscode/

### OS ###
.DS_Store
Thumbs.db

### PHPUnit ###
/.phpunit.result.cache

### Build ###
/public/build/
/public/dist/

Dockerfile
